{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="title_set">
  <img class="logo" src="{% static 'img/logo.png' %}" alt="dog paw" width="80">
  <p class="kind">공격성</p>
</div>
<hr>
<form class="fom" method="POST">
  {% csrf_token %}
  <div>
    <label class="lab">나는 참지 않고 잘 싸운다</label>
    <div class="radio-set">
      <div class="radio">
        <input type="radio" name="q1" value="-2" required>
      </div>
      <div class="radio">
        <input type="radio" name="q1" value="-1">
      </div>
      <div class="radio">
        <input type="radio" name="q1" value="0">
      </div>
      <div class="radio">
        <input type="radio" name="q1" value="1">
      </div>
      <div class="radio">
        <input type="radio" name="q1" value="2">
      </div>
    </div>
    <div class="set">
      <p class="aa">비동의</p>
      <p class="aa">동의</p>
    </div>
  </div>

  <div>
    <label class="lab">나는 갈등이 생기면 피한다</label>
    <div class="radio-set">
      <div class="radio">
        <input type="radio" name="q2" value="-2" required>
      </div>
      <div class="radio">
        <input type="radio" name="q2" value="-1">
      </div>
      <div class="radio">
        <input type="radio" name="q2" value="0">
      </div>
      <div class="radio">
        <input type="radio" name="q2" value="1">
      </div>
      <div class="radio">
        <input type="radio" name="q2" value="2">
      </div>
    </div>
    <div class="set">
      <p class="aa">비동의</p>
      <p class="aa">동의</p>
    </div>
  </div>

  <div>
    <label class="lab">나는 선빵필승이 모토다
    </label>
    <div class="radio-set">
      <div class="radio">
        <input type="radio" name="q3" value="-2" required>
      </div>
      <div class="radio">
        <input type="radio" name="q3" value="-1">
      </div>
      <div class="radio">
        <input type="radio" name="q3" value="0">
      </div>
      <div class="radio">
        <input type="radio" name="q3" value="1">
      </div>
      <div class="radio">
        <input type="radio" name="q3" value="2">
      </div>
    </div>
    <div class="set">
      <p class="aa">비동의</p>
      <p class="aa">동의</p>
    </div>
  </div>
  <div>
    <button class="btn">Next</button>
  </div>

</form>
<!-- <script src="{% static 'js/q1.js' %}"></script> -->
{% endblock body %}